/* Style for the form container */
.register {
	margin-inline: auto;
	margin-top: 250px;
	max-width: 400px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for form labels */
label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}

/* Style for form inputs */
input {
	width: 100%;
	padding: 8px;
	margin-bottom: 16px;
	box-sizing: border-box;
}

/* Style for the Register button */
button {
	background-color: #4caf50;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Hover effect for the button */
button:hover {
	background-color: #45a049;
}
